body {
  margin: 2em;
}

.voffset { margin-top: 1em; }
.voffset2 { margin-top: 2em; }
.voffset3 { margin-top: 3em; }

.center-contents {
  text-align: center;
}

.entry {
  background-color: rgb(130,140,140);
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: .5em;
}

.entry h1 {
  margin-top: 0;
}
