body {
  margin: 2em;
}

.voffset { margin-top: 1em; }
.voffset2 { margin-top: 2em; }
.voffset3 { margin-top: 3em; }

.center-contents {
  text-align: center;
}

/*.entry {
  background-color: rgb(130,140,140);
}*/

.entry hr {
  margin-top: 0;
  margin-bottom: 0;
}
